@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

.main_wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: hsl(218, 23%, 16%);
}
.main_wrapper .container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main_wrapper .container .advaice_wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: hsl(217, 19%, 24%);
  width: 420px;
  padding: 40px 20px;
  border-radius: 20px;
  color: hsl(193, 38%, 86%);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 900;
}
.main_wrapper .container .advaice_wrapper .advaiceNumber {
  color: hsl(150, 100%, 66%);
  font-size: 18px;
  font-weight: 700;
}
.main_wrapper .container .advaice_wrapper .dice {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -10%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.main_wrapper .container .advaice_wrapper .dice:hover {
  box-shadow: hsl(150, 100%, 66%) 0px 7px 29px 0px;
}